{% extends 'MirrorAdmBundle:Base:base.html.twig' %}
{% block typeTabTit %}
    <div class="typeTabTit">
        <ul>
            <li><div class="auditName on">数据管理</div></li>
        </ul>
        <div class="cls"></div>
    </div>
    <!-- /.typeTabTit -->
{% endblock %}
{% block thead %}
    <tr class="tableTit">
        <td>ID</td>
        <td>名称</td>
        <td>类型</td>
        <td>金额（万元）</td>
        <td>所在地</td>
        <td>状态</td>
        <td colspan="3" width="18%">操作</td>
    </tr>
{% endblock %}
{% block tbody %}
    <tr>
        <td>1</td>
        <td>cwr82qyfh9q2074q</td>
        <td>100</td>
        <td>北京－朝阳</td>
        <td>所在地</td>
        <td>待签约</td>
        <td><a href="javascript:void (0)" class="infoColor">查看详情</a></td>
        <td><a href="javascript:void(0)" class="deleteColor">禁用</a></td>
        <td><a href="javascritp:void(0)" class="infoColor">重置密码</a></td>
    </tr>
    <tr>
        <td>2</td>
        <td>cwr82qyfh9q2074q</td>
        <td>100</td>
        <td>北京－朝阳</td>
        <td>所在地</td>
        <td>待签约</td>
        <td><a href="javascript:void (0)" class="infoColor">查看详情</a></td>
        <td><a href="javascript:void(0)" class="deleteColor">禁用</a></td>
        <td><a href="javascritp:void(0)" class="infoColor">重置密码</a></td>
    </tr>
    <tr>
        <td>3</td>
        <td>cwr82qyfh9q2074q</td>
        <td>100</td>
        <td>北京－朝阳</td>
        <td>所在地</td>
        <td>待签约</td>
        <td><a href="javascript:void (0)" class="infoColor">查看详情</a></td>
        <td><a href="javascript:void(0)" class="deleteColor">禁用</a></td>
        <td><a href="javascritp:void(0)" class="infoColor">重置密码</a></td>
    </tr>
    <tr>
        <td>4</td>
        <td>cwr82qyfh9q2074q</td>
        <td>100</td>
        <td>北京－朝阳</td>
        <td>所在地</td>
        <td>待签约</td>
        <td><a href="javascript:void (0)" class="infoColor">查看详情</a></td>
        <td><a href="javascript:void(0)" class="deleteColor">禁用</a></td>
        <td><a href="javascritp:void(0)" class="infoColor">重置密码</a></td>
    </tr>
    <tr>
        <td>5</td>
        <td>cwr82qyfh9q2074q</td>
        <td>100</td>
        <td>北京－朝阳</td>
        <td>所在地</td>
        <td>待签约</td>
        <td><a href="javascript:void (0)" class="infoColor">查看详情</a></td>
        <td><a href="javascript:void(0)" class="deleteColor">禁用</a></td>
        <td><a href="javascritp:void(0)" class="infoColor">重置密码</a></td>
    </tr>
    <tr>
        <td>6</td>
        <td>cwr82qyfh9q2074q</td>
        <td>100</td>
        <td>北京－朝阳</td>
        <td>所在地</td>
        <td>待签约</td>
        <td><a href="javascript:void (0)" class="infoColor">查看详情</a></td>
        <td><a href="javascript:void(0)" class="deleteColor">禁用</a></td>
        <td><a href="javascritp:void(0)" class="infoColor">重置密码</a></td>
    </tr>
    <tr>
        <td>7</td>
        <td>cwr82qyfh9q2074q</td>
        <td>100</td>
        <td>北京－朝阳</td>
        <td>所在地</td>
        <td>待签约</td>
        <td><a href="javascript:void (0)" class="infoColor">查看详情</a></td>
        <td><a href="javascript:void(0)" class="deleteColor">禁用</a></td>
        <td><a href="javascritp:void(0)" class="infoColor">重置密码</a></td>
    </tr>
    <tr>
        <td>8</td>
        <td>cwr82qyfh9q2074q</td>
        <td>100</td>
        <td>北京－朝阳</td>
        <td>所在地</td>
        <td>待签约</td>
        <td><a href="javascript:void (0)" class="infoColor">查看详情</a></td>
        <td><a href="javascript:void(0)" class="deleteColor">禁用</a></td>
        <td><a href="javascritp:void(0)" class="infoColor">重置密码</a></td>
    </tr>
    <tr>
        <td>9</td>
        <td>cwr82qyfh9q2074q</td>
        <td>100</td>
        <td>北京－朝阳</td>
        <td>所在地</td>
        <td>待签约</td>
        <td><a href="javascript:void (0)" class="infoColor">查看详情</a></td>
        <td><a href="javascript:void(0)" class="deleteColor">禁用</a></td>
        <td><a href="javascritp:void(0)" class="infoColor">重置密码</a></td>
    </tr>
    <tr>
        <td>10</td>
        <td>cwr82qyfh9q2074q</td>
        <td>100</td>
        <td>北京－朝阳</td>
        <td>所在地</td>
        <td>待签约</td>
        <td><a href="javascript:void (0)" class="infoColor">查看详情</a></td>
        <td><a href="javascript:void(0)" class="deleteColor">禁用</a></td>
        <td><a href="javascritp:void(0)" class="infoColor">重置密码</a></td>
    </tr>
{% endblock %}
 {% block page %}
     <div class="row">
         <div class="col-md-11 col-md-offset-1">
             <p class="listInfo">显示第 1-10项结果，共 10 项</p>
         </div>
         <!-- /.col-md-5 col-md-offset-1 -->
         <div class="col-md-6 col-md-offset-3 text-center">
             <div class="page_list">
                 <ul id="pagination">
                     <span class="prev_page">上一页</span><li class="on">1</li><li>2</li><li>3</li><li>4</li><li>5</li><li>6</li><span class="next_page">下一页</span>
                 </ul>
             </div>
         </div>
         <!-- /.col-md-6 col-md-offset-3 -->
     </div>
     <!-- /.row -->
 {% endblock %}
{% block otherJs %}
    <script>
        $(function(){
            adminTabNav($('.adminLeftNav .data'));
        });
    </script>

{% endblock %}