{% extends 'MirrorAdmBundle:Base:base.html.twig' %}
{% block typeForm %}
    <div class="addUser">
        <div class="addUserTit">
            <h3>分类管理-<span style="color: #ff8400; font-size:18px;">添加分类</span></h3>
        </div>
        <!-- /.addUserTit -->
        <div class="addUserForm form-horizontal">

                <div class="form-group">
                    <label for="sortParent" class="col-md-3 control-label text-right">父级分类：</label>
                    <div class="col-md-3" >
                        <label id="sortParent" class="col-md-3 control-label text-right"></label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="sortName" class="col-md-3 control-label text-right">分类名称：</label>
                    <div class="col-md-3" >
                        <label id="sortName" class="col-md-3 control-label text-right"></label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="level" class="col-md-3 control-label text-right">分类层级：</label>
                    <div class="col-md-3" >
                        <label id="level" class="col-md-3 control-label text-right"></label>
                    </div>
                </div>

                <div class="form-group" >
                    <label for="number" class="col-md-3 control-label text-right">图片：</label>
                    <div class="col-md-3" id="imageUpload">
                        <img src="{{ asset('/bundles/mirroradm/images/default.jpg') }}" alt="">
                    </div>

                </div>

                <div class="form-group">
                    <label for="sortAttr" class="col-md-3 control-label text-right">分类属性：</label>
                    <div class="col-md-3" >
                        <label id="sortAttr" class="col-md-3 control-label text-right"></label>
                    </div>
                </div>
        </div>
        <!-- /.addUserForm -->
    </div>
    <!-- /.addUser -->

{% endblock %}
{% block otherJs %}
    <script>
        $(function() {
            adminTabNav($('.adminLeftNav .sort'));
            var id={{ id }};
            ajaxAction("get", '/api/sort/'+id, '', true, function (data, textStatus) {
                $('#sortParent').html(data.parentName);
                $('#sortName').html(data.name);
                $('#level').html(data.level);
                $('#imageUpload img').attr('src',data.image);
                $('#sortAttr').html(data.attr);
            }, function (errno, errmsg) {
                alert(errmsg);
            });
        })
    </script>

{% endblock %}