{% extends 'MirrorAdmBundle:Base:base.html.twig' %}
{% block typeForm %}
    <div class="addUser">
        <div class="addUserTit">
            <h3>购物车-<span style="color: #ff8400; font-size:18px;">导入商品</span></h3>
        </div>
        <!-- /.addUserTit -->
        <div class="addUserForm form-horizontal">

            <div class="form-group">
                <label for="sortParent" class="col-md-3 control-label text-right">商品模板：</label>
                <div class="col-md-3">
                    <a href="">下载商品模板</a>
                </div>
            </div>
            <div class="form-group">
                <label for="number" class="col-md-3 control-label text-right">图片：</label>
                <div class="col-md-3 imageUpload">
                    <form action="" name="uploadForm">
                        <img src="{{ asset('/bundles/mirroradm/images/default.jpg') }}" alt="">
                        <input type="file" id="imageUpload" name="file">
                        <input type="hidden" id="imageValue">
                    </form>
                </div>

            </div>

            <div class="form-group margin_top">
                <div class="col-md-2 col-md-offset-3 userSubmit margin_top">
                    <button class="btn btn-default resetButton" id="cancel">取消</button>
                </div>
                <div class="col-md-2 margin_top">
                    <button class="btn btn-default resetButton" id="ensure">确定</button>
                </div>
            </div>

        </div>
        <!-- /.addUserForm -->
    </div>
    <!-- /.addUser -->

{% endblock %}
{% block otherJs %}
    <script>
        $(function(){
            adminTabNav($('.adminLeftNav .sort'));
            $('#imageUpload').change(function () {
                if(!/image\/\w+/.test(this.files[0].type)){
                    alert("文件必须为图片！");
                    return false;
                }
                banner_upload(this,$('.imageUpload'));
                pubImgUpload($('form[name=uploadForm]')[0],$('#imageValue'));
            });
            $('#ensure').click(function(){
                var info={};
                info.parentId={{ id }};
                info.name=$('#sortName').val();
                info.image=$('#imageValue').val();
                info.attr=[];
                $('input[name=sortAttr]').each(function(){
                    if($(this).val()!=''){
                        info.attr.push($(this).val());
                    }
                });
                if(info.name==''){
                    alert('分类名不能为空');
                    return;
                }
                ajaxAction("post",'/api/sort',info,false,function(data,textStatus){
                    alert('添加成功');
                    location.href='/adm/sort';
                },function(errno,errmsg){
                    alert(errmsg);
                });
            });
        });
        function addInput(obj) {
            $(obj).before('<input type="text" name="sortAttr" style="line-height: 30px">');
        }
    </script>

{% endblock %}