{% extends 'MirrorAdmBundle:Base:base.html.twig' %}
{% block typeForm %}
    <div class="addUser">
        <div class="addUserTit">
            <h3>盒子管理-<span style="color: #ff8400; font-size:18px;">填写信息</span></h3>
        </div>
        <!-- /.addUserTit -->
        <div class="addUserForm form-horizontal">

                <div class="form-group">
                    <label for="IL6" class="col-md-3 control-label text-right">IL6：</label>
                    <div class="col-md-3">
                        <input type="radio" name="IL6" class="form-control" id="GG" checked value="GG"> <label for="GG">GG</label> <input type="radio" name="IL6" class="form-control" id="GA" value="GA"> <label for="GA">GA</label> <input type="radio" name="IL6" class="form-control" id="AA" value="AA"> <label for="AA">AA</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="HLA_C" class="col-md-3 control-label text-right">HLA-C：</label>
                    <div class="col-md-3">
                        <input type="radio" name="HLA_C" class="form-control" id="TT" checked value="TT"> <label for="TT">TT</label> <input type="radio" name="HLA_C" class="form-control" id="CT" value="CT"> <label for="CT">CT</label> <input type="radio" name="HLA_C" class="form-control" id="CC" value="CC"> <label for="CC">CC</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="ZNF365" class="col-md-3 control-label text-right">ZNF365：</label>
                    <div class="col-md-3">
                        <input type="radio" name="ZNF365" class="form-control" id="TT" checked value="TT"> <label for="TT">TT</label> <input type="radio" name="ZNF365" class="form-control" id="CT" value="CT"> <label for="CT">CT</label> <input type="radio" name="ZNF365" class="form-control" id="CC" value="CC"> <label for="CC">CC</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="MMP1" class="col-md-3 control-label text-right">MMP1：</label>
                    <div class="col-md-3">
                        <input type="radio" name="MMP1" class="form-control" id="(G,G)" checked value="(G,G)"> <label for="(G,G)">(G,G)</label> <input type="radio" name="MMP1" class="form-control" id="(G,-)" value="(G,-)"> <label for="(G,-)">(G,-)</label> <input type="radio" name="MMP1" class="form-control" id="(-.-)" value="(-.-)"> <label for="(-.-)">(-.-)</label>
                    </div>
                </div>

            <div class="form-group">
                <label for="AQP3" class="col-md-3 control-label text-right">AQP3：</label>
                <div class="col-md-3">
                    <input type="radio" name="AQP3" class="form-control" id="AA" checked value="AA"> <label for="AA">AA</label> <input type="radio" name="AQP3" class="form-control" id="AG" value="AG"> <label for="AG">AG</label> <input type="radio" name="AQP3" class="form-control" id="GG" value="GG"> <label for="GG">GG</label>
                </div>
            </div>

            <div class="form-group">
                <label for="NQO1" class="col-md-3 control-label text-right">NQO1：</label>
                <div class="col-md-3">
                    <input type="radio" name="NQO1" class="form-control" id="AA" checked value="AA"> <label for="AA">AA</label> <input type="radio" name="NQO1" class="form-control" id="AG" value="AG"> <label for="AG">AG</label> <input type="radio" name="NQO1" class="form-control" id="GG" value="GG"> <label for="GG">GG</label>
                </div>
            </div>

            <div class="form-group">
                <label for="SOD2" class="col-md-3 control-label text-right">SOD2：</label>
                <div class="col-md-3">
                    <input type="radio" name="SOD2" class="form-control" id="AA" checked value="AA"> <label for="AA">AA</label> <input type="radio" name="SOD2" class="form-control" id="GA" value="GA"> <label for="GA">GA</label> <input type="radio" name="SOD2" class="form-control" id="GG" value="GG"> <label for="GG">GG</label>
                </div>
            </div>

            <div class="form-group">
                <label for="NFE2L2" class="col-md-3 control-label text-right">NFE2L2：</label>
                <div class="col-md-3">
                    <input type="radio" name="NFE2L2" class="form-control" id="CC" checked> <label for="CC">CC</label> <input type="radio" name="NFE2L2" class="form-control" id="CT" checked> <label for="CT">CT</label> <input type="radio" name="NFE2L2" class="form-control" id="TT" checked> <label for="TT">TT</label>
                </div>
            </div>

            <div class="form-group">
                <label for="CAT" class="col-md-3 control-label text-right">CAT：</label>
                <div class="col-md-3">
                    <input type="radio" name="CAT" class="form-control" id="CC" checked value="CC"> <label for="CC">CC</label> <input type="radio" name="CAT" class="form-control" id="CT" value="CT"> <label for="CT">CT</label> <input type="radio" name="CAT" class="form-control" id="TT" value="TT"> <label for="TT">TT</label>
                </div>
            </div>

            <div class="form-group">
                <label for="MC1R" class="col-md-3 control-label text-right">MC1R：</label>
                <div class="col-md-3">
                    <input type="radio" name="MC1R" class="form-control" id="AA" checked value="AA"> <label for="AA">AA</label> <input type="radio" name="MC1R" class="form-control" id="GA" value="GA"> <label for="GA">GA</label> <input type="radio" name="MC1R" class="form-control" id="GG" value="GG"> <label for="GG">GG</label>
                </div>
            </div>

            <div class="form-group">
                <label for="GSTP1" class="col-md-3 control-label text-right">GSTP1：</label>
                <div class="col-md-3">
                    <input type="radio" name="GSTP1" class="form-control" id="AA" checked value="AA"> <label for="AA">AA</label> <input type="radio" name="GSTP1" class="form-control" id="GA" value="GA"> <label for="GA">GA</label> <input type="radio" name="GSTP1" class="form-control" id="GG" value="GG"> <label for="GG">GG</label>
                </div>
            </div>

            <div class="form-group">
                <label for="IRF4" class="col-md-3 control-label text-right">IRF4：</label>
                <div class="col-md-3">
                    <input type="radio" name="IRF4" class="form-control" id="CC" checked value="CC"> <label for="CC">CC</label> <input type="radio" name="IRF4" class="form-control" id="CT" value="CT"> <label for="CT">CT</label> <input type="radio" name="IRF4" class="form-control" id="TT" value="TT"> <label for="TT">TT</label>
                </div>
            </div>

            <div class="form-group margin_top">
                    <div class="col-md-2 col-md-offset-3 userSubmit margin_top">
                        <button class="btn btn-default resetButton" id="cancel">取消</button>
                    </div>
                    <div class="col-md-2 margin_top">
                        <button class="btn btn-default resetButton" id="ensure">确定</button>
                    </div>
                </div>

        </div>
        <!-- /.addUserForm -->
    </div>
    <!-- /.addUser -->

{% endblock %}
{% block otherJs %}
    <script>
        $(function(){
            adminTabNav($('.adminLeftNav .face'));
            var id={{ id }};
            var page={{ page }};
            ajaxAction("get",'/api/box/gene/'+id,"",false,function(data,textStatus){
                if(!$.isEmptyObject(data.boxGene)){
                    $.each(data.boxGene,function(index,value){
                        $('#'+index).val(value);
                    });
                }
            },function(errno,errmsg){
                alert(errmsg);
            });
            $('#cancel').click(function () {
                location.href="/adm/face?page="+page;
            });
            $('#ensure').click(function(){
                var info={};
                info.boxId=id;
                info.IL6=$.trim( $('input[name=IL6]:checked').val() );
                info.HLA_C=$.trim(  $('input[name=HLA_C]:checked').val() );
                info.ZNF365=$.trim($('input[name=ZNF365]:checked').val());
                info.MMP1=$.trim( $('input[name=MMP1]:checked').val());
                info.AQP3=$.trim( $('input[name=AQP3]:checked').val());
                info.NQO1=$.trim( $('input[name=NQO1]:checked').val());
                info.SOD2=$.trim( $('input[name=SOD2]:checked').val());
                info.NFE2L2=$.trim( $('input[name=NFE2L2]:checked').val());
                info.MC1R=$.trim($('input[name=MC1R]:checked').val());
                info.GSTP1=$.trim($('input[name=GSTP1]:checked').val());
                info.CAT=$.trim( $('input[name=CAT]:checked').val());
                info.IRF4=$.trim( $('input[name=IRF4]:checked').val());
                ajaxAction("post",'/api/box/gene',info,false,function(data,textStatus){
                    zdalert('系统提示','修改成功',function ($r) {
                        if($r){
                            location.href="/adm/face?page="+page;
                        }
                    });

                },function(errno,errmsg){
                    zdalert('系统提示',errmsg);
                });
            });
        });

    </script>

{% endblock %}