*{
    margin: 0;
    padding: 0;
}
header，section，footer，aside，nav，main，article，figure{
    display:none;
}
.backgroundColorWhite{
    background-color: #fff;
}
html,body{
    height: 100%;
    width: 100%;
}
#container{
    height: 100%;
}
li{
    list-style: none;
}
.topNavLogo{
    height: 80px;
    width: 100%;
    z-index: 2;
    background-color: rgba(255,255,255,0.3);
}
.topNavLogo img{
    width: 100%;
}
.logo{
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    line-height: 80px;
}
.index-nav-list{
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    line-height: 80px;
    height: 80px;
}
.index-nav-list ul li{
    display: inline-block;
    vertical-align: bottom;
    margin-left:35px;
}
.index-nav-list ul li:first-child{
    margin-left: 0;
}
.index-nav-list ul li a{
    font-size: 18px;
    color: #d2d2d2;
    padding: 8px 15px;
    box-sizing: border-box;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}
.index-nav-list ul li a:hover,.index-nav-list ul li a.active{
    background-color: #3ea2c7;
    color: #fff;
}
.slide-down{
    width: 100%;
    background-color: #fff;
    padding: 20px 0;
    box-sizing: border-box;
    position: absolute;
    z-index: 9;
}
.index-company-info h3{
    font-size: 24px;
    line-height: 48px;
    border-bottom: 2px solid #d5d5d5;
    color: #333333;
}
.index-company-info p{
    font-size: 16px;
    color: #333;
}
.index-two-nav h4{
    font-size: 16px;
    color: #333;
    line-height: 32px;
    border-bottom: 2px solid #d5d5d5;
}
.index-two-nav ul{
    padding-left: 0;
}
.index-two-nav ul li{
    font-size: 16px;
    color: #808080;
    line-height: 32px;
}

/*中间部分样式*/

main{
    width: 100%;
    overflow: hidden;
    background-color: #fafafc;
}
main .banner{
    width: 100%;
    overflow: hidden;
    position: relative;
    min-height: 300px;
}

main .banner img{
    width: 100%;
}
.bannerDesc{
    position: absolute;
    left: 50%;
    top: 45%;
    text-align: center;
    color: #fff;
    margin-left: -260px;
    width: 520px;
}
.bannerDesc h3{
    font-size: 35px;
    font-weight: normal;
}
.bannerDesc p{
    font-size: 18px;
    font-weight: 200;
}
.tabNav{
    width: 100%;
    text-align: center;
    background-color: #fff;
}
.tabNav ul li{
    display: inline-block;
    margin: 10px 20px;
    color: #a4a4a4;
    cursor: pointer;
}
.tabNav ul li.current{
    color: #3ea2c7;
}
.tabContent .product,.tabContent .question,.tabContent .case,.tabContent .result{
    display: none;
}
.tabContent .product section,.tabContent .question section,.tabContent .case section,.tabContent .result section{
    text-align: center;
    padding: 50px 0;
}

.tabContent .product section:nth-child(2n),.tabContent .question section:nth-child(2n),.tabContent .case section:nth-child(2n),.tabContent .result section:nth-child(2n){
    background-color: #fff;
}

/*底部样式*/
footer{
    width: 100%;
    background-color: #446582;
    padding: 20px 0 10px;
}
.footerNav ul li{
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    color: #fff;
}

.footerNav ul li:first-child{
    width: 15%;
}
.footerNav ul li:nth-child(2){
    width: 15%;
}
.footerNav ul li:nth-child(3){
    width: 15%;
}
.footerNav ul li:nth-child(4){
    width: 15%;
}
.footerNav ul li:nth-child(5){
    width: 15%;
}
.footerNav ul li:nth-child(6){
    width: 23%;
}
.footerNav ul li span{
    border-bottom: 1px solid #fff;
    display: inline-block;
    line-height: 2em;
    margin-bottom:10px;
}
.footerNav ul li ul{
    width: 100%;
}
.footerNav ul li ul li{
    width: 100% !important;
    font-size: 14px;
    color: #b2b2b2;
}
.footerNav ul li ul li a{
    font-size: 14px;
    color: #b2b2b2;
}
.footerNav ul li p{
    width: 111px;
}
.footerNav ul li p img{
    width: 111px;
}
.copyright{
    text-align: center;
    color: #fff;
    border-top: 1px solid #fff;
    line-height: 3em;
}