*{
    margin: 0 auto;
}
.container{
    background-image: url("../images/healthBg1.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.top{
    width: 900px;
    overflow: hidden;
    margin: 0 auto;
    padding-top: 22px;
}

.top .logo,.top .nav{
    display: inline-block;
    vertical-align: top;
}
.top .nav{
    width: 650px;
    text-align: right;
}
.top .nav ul li{
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
    width: 80px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
}
.top .nav ul li a{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration:none ;
    color: #333;
}
.top .nav ul li a:hover{
    background-color: #3ea2c7;
    color: #fff;
}

.main aside{
    display: inline-block;
    vertical-align: top;
}
.main .left{
    width: 20%;
    margin-left: 5%;
    margin-top: 60px;
}
.main .left h3{
    font-size: 31px;
    line-height: 1.5em;
}
.main .left h3 p{
    line-height: 1em;
    color: #7f7f7f;
}
.main .left ul{
    padding: 0px;
    margin: 0;
    width: 200px;
    margin-top: 200px;
}
.main .left ul li{
    list-style: none;
}
.main .left ul li:first-child a{
    background-image: url("../images/heathIco1.png");
    background-size: 14px 25px;
}
.main .left ul li:nth-child(2) a{
    background-image: url("../images/heathIco2.png");
    background-size: 19px 17px;
}
.main .left ul li a{
    padding: 20px 42px;
    display: block;
    color: #fff;
    text-decoration: none;
    background-color: rgba(0,148,224,0.7);
    border-radius: 5px;
    margin-top: 24px;
    padding-left: 50px;
    background-repeat: no-repeat;
    background-position: 20px center;
}
.main .right{
    width: 70%;
    float: right;
    margin-top: 20px;
}

.rightMain{
    padding: 120px 60px;
    box-shadow: -1px 1px 20px #9d9d9d;
    background-image: url("../images/heathBg2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}
.rightMain h3{
    font-size: 21px;
    color: #1a1a1a;
}

.rightMain p{
    font-size: 16px;
    color: #333333;
    margin-top: 10px;
}
.rightMain .healthList{
    margin-top: 45px;
}
.rightMain .healthList ul{
    float: left;
}
.rightMain .healthList ul:first-child{
    padding-left: 0;
}
.rightMain .healthList ul li{
    list-style: none;
    margin-top: 8px;
    float: left;
    width: 300px;
}

.rightMain .healthList ul li a{
    color: #333333;
    background-image: url("../images/heathListIco.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 15px 15px;
    padding-left: 30px;
}

.page{
    position: absolute;
    background-color: #fff;
    padding: 10px;
    top: 30%;
    left: -30px;
    box-shadow: -1px 1px 20px #9d9d9d;
}
.page span{
    display: block;
    text-align: center;
}
.page span:nth-child(2){
    font-size: 21px;
    color: #d6d6d6;
    margin: 50px 0;
}