{% extends 'MirrorAdmBundle:Base:base.html.twig' %}
{% block javascript %}
    <script src="{{ asset('/bundles/mirroradm/js/selectCity.js') }}"></script>
{% endblock %}
{% block typeForm %}
    <div class="addUser">
        <div class="addUserTit">
            <h3>用户管理-<span style="color: #ff8400; font-size:18px;">修改信息</span></h3>
        </div>
        <!-- /.addUserTit -->
        <div class="addUserForm form-horizontal">
                <div class="form-group">
                    <label for="telephone" class="col-md-3 control-label text-right">用户电话：</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="telephone">
                    </div>
                </div>

                <div class="form-group">
                    <label for="username" class="col-md-3 control-label text-right">用户名：</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="username">
                    </div>
                </div>

                <div class="form-group">
                    <label for="number" class="col-md-3 control-label text-right">图片：</label>
                    <div class="col-md-3 imageUpload">
                        <form action="" name="uploadForm">
                            <img src="{{ asset('/bundles/mirroradm/images/default.jpg') }}" alt="" width="100px" height="100px">
                            <input type="file" id="imageUpload" name="file">
                            <input type="hidden" id="imageValue">
                        </form>
                    </div>
                </div>

                <div class="form-group">
                    <label for="oldPassword" class="col-md-3 control-label text-right">旧密码：</label>
                    <div class="col-md-3">
                        <input type="password" class="form-control" id="oldPassword">
                    </div>
                </div>

                <div class="form-group">
                    <label for="newPassword" class="col-md-3 control-label text-right">新密码：</label>
                    <div class="col-md-3">
                        <input type="password" class="form-control" id="newPassword">
                    </div>
                </div>

                <div class="form-group margin_top">
                    <div class="col-md-2 col-md-offset-3 userSubmit margin_top">
                        <button class="btn btn-default resetButton" id="cancel">取消</button>
                    </div>
                    <div class="col-md-2 margin_top">
                        <button class="btn btn-default resetButton" id="ensure">确定</button>
                    </div>
                </div>

        </div>
        <!-- /.addUserForm -->
    </div>
    <!-- /.addUser -->

{% endblock %}
{% block otherJs %}
    <script>
        $(function(){
            adminTabNav($('.adminLeftNav .users'));
            var userId={{ userId }};
            ajaxAction("get",'/api/user/'+userId,"",true,function(data,textStatus){
                $('#username').val(data.username);
                $('#telephone').val(data.mobile);
                $('.imageUpload').find('img').attr('src',data.image);
            },function(errno,errmsg){
                alert(errmsg);
            });

            $('#imageUpload').change(function () {
                if(!/image\/\w+/.test(this.files[0].type)){
                    alert("文件必须为图片！");
                    return false;
                }
                banner_upload(this,$('.imageUpload'));
                pubImgUpload($('form[name=uploadForm]')[0],$('#imageValue'));
            });

            $('#cancel').click(function(){
                location.href='/adm/user';
            });

            $('#ensure').click(function(){
                var info={};
                info.mobile=$('#telephone').val();
                info.oldPassword=$('#oldPassword').val();
                info.username=$('#username').val();
                info.newPassword=$('#newPassword').val();
                info.image=$('#imageValue').val();
                if(!check_phone($('#telephone'))){
                    zdalert('系统提示','用户电话规则不对');
                    return;
                }
                if(!info.username){
                    zdalert('系统提示','用户名不能为空');
                    return;
                }
                if(info.newPassword&&!check_password(info.newPassword)){
                    zdalert('系统提示','密码必须由6-20位字母和数字组成！！');
                    return;
                }

                ajaxAction("put",'/api/user',info,true,function(data,textStatus){
                    zdalert('系统提示','修改成功');
                   location.href='/adm/user';
                },function(errno,errmsg){
                    alert(errmsg);
                });
            });
        });
        function check_phone(TagName) {
            return /^(13[0-9]|14[0-9]|15[0-9]|17[0-9]|18[0-9])\d{8}$/i.test($.trim(TagName.val()));
        }
        function check_password(password) {
            if(password.length < 6 || password.length > 20){
                return false;
            }
            var passwordPatten = new RegExp(/^(?=.*[a-zA-Z])(?=.*[0-7])[a-zA-Z0-9]{6,20}$/);
            return passwordPatten.test(password);
        }
    </script>

{% endblock %}